services:
  libsql:
    image: ghcr.io/tursodatabase/libsql-server:latest
    platform: linux/amd64
    ports:
      - "8081:8081"
    volumes:
      - libsql-data:/var/lib/sqld
    environment:
      - SQLD_HTTP_LISTEN_ADDR=0.0.0.0:8081
    restart: unless-stopped

  mcpslackbot:
    image: mcpslackbot
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - libsql
    environment:
      NODE_ENV: production
      LIBSQL_URL: http://libsql:8081
      BEARER_TOKEN: ${BEARER_TOKEN}
      REFRESH_TOKEN: ${REFRESH_TOKEN}
      TOKEN_ENDPOINT_URL: ${TOKEN_ENDPOINT_URL}
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      SLACK_SIGNING_SECRET: ${SLACK_SIGNING_SECRET}
    ports:
      - 3001:3001
    restart: unless-stopped

volumes:
  libsql-data:
