version: '3.4'

services:
  mcpslackbot:
    image: mcpslackbot
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      SLACK_APP_TOKEN: ${SLACK_APP_TOKEN}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN}
      BEARER_TOKEN: ${BEARER_TOKEN}
      REFRESH_TOKEN: ${REFRESH_TOKEN}
      TOKEN_ENDPOINT_URL: ${TOKEN_ENDPOINT_URL}
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      MCP_API_URL: ${MCP_API_URL}
      SLACK_DEBUG: ${SLACK_DEBUG}
    ports:
      - "3001:3001"
    restart: unless-stopped
